
#nav-logo-2row-2 .dropdown-menu, #nav-logo-2row-2 .sub-menu, #nav-logo-2row-2 .mega-menu-container {
	background: #eeeeee;
}

.nav-bg-color {
	background: #eeeeee;
}
#nav-logo-2row-2 .nav-bg {
	background: #eeeeee;
	opacity: 1;
}#desc-center-slogan-img-text--0 .bg {
	background-image: url('../images/abstract-bg-6.png');
	background-size: contain;
	-webkit-background-size: contain;
	background-repeat: no-repeat;
	-webkit-background-repeat: no-repeat;
	background-position: center center;
	opacity: 0.25;
}#message_form .half-container-left {
	background-image: url('../images/bg-work-2.jpg');
	background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
    opacity: 1;
}
#gallery-list-4col-3 .bg {
    background-image: url('../images/bg-wall-1.jpg');
    background-size: cover;
    -webkit-background-size: cover;
    background-repeat: no-repeat;
    -webkit-background-repeat: no-repeat;
    background-position: center center;
    opacity: 0.1;
}#gallery-fluid-list-4col-2row .bg {
    background-image: url('../images/title-bg-gallery.png');
    background-size: 608px auto;
    -webkit-background-size: 608px auto;
    background-repeat: no-repeat;
    -webkit-background-repeat: no-repeat;
    background-position: top center;
    opacity: 0.07;
}

#action-center-img-text-btn .bg {
	background-color: #b9b8b8;
	background-size: cover;
	-webkit-background-size: cover;
	background-repeat: no-repeat;
	-webkit-background-repeat: no-repeat;
	background-position: center center;
	opacity: 0.4;
}
#footer-text-icon-social {
	background: #000000;
}
#footer-text-logo-btn {
    background: #768190;
}