
#nav-logo-2row-2 .dropdown-menu, #nav-logo-2row-2 .sub-menu, #nav-logo-2row-2 .mega-menu-container {
	background: #eeeeee;
}

.nav-bg-color {
	background: #eeeeee;
}
#nav-logo-2row-2 .nav-bg {
	background: #eeeeee;
	opacity: 1;
}#gallery-list-4col-3 .bg {
    background-image: url('../images/bg-wall-1.jpg');
    background-size: cover;
    -webkit-background-size: cover;
    background-repeat: no-repeat;
    -webkit-background-repeat: no-repeat;
    background-position: center center;
    opacity: 0.1;
}

#action-center-img-text-btn .bg {
	background-image: url('../images/bg-wood-5.jpg');
	background-size: cover;
	-webkit-background-size: cover;
	background-repeat: no-repeat;
	-webkit-background-repeat: no-repeat;
	background-position: center center;
	opacity: 0;
}#contact-center-form-2 .bg {
	background-image: url('../images/MK_22.jpg');
	background-size: cover;
	-webkit-background-size: cover;
	background-repeat: no-repeat;
	-webkit-background-repeat: no-repeat;
	background-position: bottom center;
	opacity: 0.1;
}#message_form .half-container-left {
	background-image: url('../images/bg-work-2.jpg');
	background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
    opacity: 1;
}

#footer-text-icon-social {
	background: #000000;
}
#footer-text-logo-btn {
    background: #768190;
}